@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');
/* Global Styles */
:root {
    --AZURE: #f0ffffff;
    --GREY_TEXT: #a8a7a7;
    --LIGHT_BLUE: #5085A5;
    --LIGHT_SALMON: #fdd6c7;
    --WHITE: #ffffff;
    --BLUE_BUTTON: #8FC1E3;
    --GREY_INPUT: #97a5b3;
    --LIGHT_GREY: #f5f5f5;
    --NIGHT_SKY: #31708E;
    --EMERALD: #687864;
    --LIGHT_WHITE: #F7F9FB;
    --BACKGROUND: rgba(90, 30, 0, .9);
    --BACKGROUND1: rgba(89, 74, 0, .9);
    --BACKGROUND2: rgba(89, 0, 15, .9);
    --BACKGROUND3: rgba(0, 59, 89, .9);
    --DARK_GRAY: #6F7378;
}

* {
  font-family: 'Sedgwick Ave Display', cursive;
}

/* Forms */
form {
    width: 400px;
    background-color: var(--WHITE);
    color: var(--GREY_TEXT);
    text-align: left;
    font-size: 20px;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px var(--LIGHT_BLUE);
    font-family: 'Sedgwick Ave Display', cursive;
    z-index: 100;
}

form button {
    background-color: var(--LIGHT_BLUE);
    border: 2px solid var(--LIGHT_SALMON);
    border-radius: 5px;
    font-size: 20px;
    color: var(--WHITE);
    width: 100%;
    padding: .75em 1em;
    margin-top: 30px;
    transition: background-color 500ms, border 500ms, color 500ms;
}

form button:hover {
    background-color: var(--BLUE_BUTTON);
    border: 1px solid var(--BLUE_BUTTON);
    color: var(--WHITE);
}

input {
    border-radius: 10px;
    border: 2px solid var(--LIGHT_GREY);
    display: block;
    box-sizing: border-box;
    background-color: var(--WHITE);
    width: 100%;
    height: 45px;
    margin: 10px 0px 30px 0px;
    padding: 5px;
    outline: 0;
}


input:focus {
    border: 2px solid var(--BLUE_BUTTON)
}

.radio {
    display: inline-block;
    width: 50px;
    height: 20px;
}

.form-text {
    font-size: 25px;
    font-family: 'Sedgwick Ave Display', cursive;
}

#login-form {
    height: 65%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: radial-gradient(farthest-corner at 0 0, #e9f7f4, white, #e9f7f4);
    background-size: 20pc 20pc;
    position: relative;
    left: -.5%;
    color: black;
}

#login-form input,
#login-form button,
#login-form div{
    width: 300px;
}

#splash-intro {
    height: 60%;
    margin: 10px;
    padding: 15px;
    color: black;
    display: flex;
    align-items: center;
    font-size: 25px;
    text-align: center;
    font-display: fallback;
    border: 2px solid;
    /* box-sizing: border-box; */
    border-image: linear-gradient(45deg, rgb(10, 10, 212), rgb(23, 99, 23), rgb(249, 222, 89)) 2;
}

#signup-form {
    height: 45%;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#signup-form input {
  width: 300px;
}

#signup-form > button, p {
  width: 300px;
}


#logout {
    position: absolute;
    width: 50px;
    height: 30px;
    right: 120px;
    top: 60px;
    font-size: 20px;
}

#logout:hover {
  border: 1px solid var(--GREY_INPUT);
}

.logout {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 6%;
    bottom: 130%;
    font-size: 20px;
}

.logout:hover {
  border: 1px solid var(--GREY_INPUT);
}

/* Text */
p {
    font-size: 15px;
}

p > a {
  font-size: 15px;
}

/* Links */
a {
    text-decoration: none;
    color: var(--NIGHT_SKY);
    transition: color 500ms;
    font-size: 25px;
}

a:hover {
    color: var(--EMERALD)
}

/* Dropdown */
.profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Navbar */
.nav-div {
    display: inline-block;
    padding: 4px 0px 0px 0px;
    height: 100%;
    width: 100px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    height: 50px;
}

/* Modal Design */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
  }

  .modal-content {
    position: fixed;
    background-color: transparent;
  }

/* Miscellanous */
#root, html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    background: no-repeat center/100% url("https://c2.staticflickr.com/8/7591/16554788810_6e4e3c6a4f_b.jpg")
}

#glassPaneX {
  width: 50vw;
  height: 50vh;
  transform: rotateX(0deg);
  background: no-repeat center/10% url("./assets/GlassPane.svg");
  transform: rotate(-45deg);
  position:absolute;
  /* background-size: 100% 100% !important; */
}

.glassDoor {
  width: 100vw;
  height: 100vh;
  transform: rotateX(0deg);
  background-image: url("./assets/GlassPane.svg");
  background-repeat: repeat-x !important;
  position:absolute;
  background-size: 25% 100% !important;
}

#glassPaneY {
  width: 50vw;
  height: 50vh;
  transform: rotateX(0deg);
  background: no-repeat center/10% url("./assets/GlassPane.svg");
  transform: rotate(45deg);
  /* background-size: 100% 100% !important; */
  position: absolute;
}

.size {
    width: 100vw;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Floor Plan */

.container {
  width: 100%;
  height: 100%;
  border: none;
}
.floorPlan {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  perspective-origin: 150% 150%;
  transform-style: flat;
  perspective: 400px;
}

.coffeeTable {
  width: 60%;
  height: 45%;
  border: none;
  position: relative;
  bottom: -29%;
  left: 8%;
  background: no-repeat center/100% url('./assets/CoffeeTable.svg');
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(-.009turn);
  z-index: 100;
}

#newNotebook {
  width: 100px;
  height: 100px;
  background: no-repeat center/80% url('./assets/Notebook.svg');
  position: absolute;
  left: 35%;
  bottom: 70%;
  transform: rotateZ(-100deg);
  text-align: center;
}

#newNote {
  width: 100px;
  height: 100px;
  background: no-repeat center/100% url('./assets/Paper.svg');
  position: absolute;
  left: 25%;
  bottom: 65%;
  transform: rotateX(55deg) rotateY(-17deg) rotateZ(-17deg);
}

.avatar {
  width: 150px;
  height: 150px;
  border: 4mm ridge var(--LIGHT_WHITE);
  border-radius: 50%;
  position: absolute;
  left: 1%;
  bottom: 140%;
  transform: rotateY(80deg);
}

#avatar {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.bookshelf {
  width: 15%;
  height: 48%;
  border: none;
  background: no-repeat center url("https://webstockreview.net/images/bookshelf-clipart-empty-bookshelf-7.jpg");
  background-size: 100% 100%;
  transform: rotateX(0.15deg) rotateY(0deg) rotateZ(0deg);
}

.posX {
  position: relative;
  left: -55%;
  top: -8%;
}

.posY {
  position: relative;
  left: -25%;
  top: -8%;
}

.carpet {
  width: 50%;
  height: 45%;
  border: none;
  transform: rotateX(17deg) rotateY(3deg) rotateZ(4deg);
  position: absolute;
  bottom: -5%;
  left: 20%;
  background: no-repeat center/100% url('./assets/Carpet.svg');

}

.notebook {
  width: 100px;
  height: 100px;
  transform: rotateY(60deg);
  position: absolute;
  top: 9%;
  left: -10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat center/80% url('./assets/Notebook.svg')
}

.notebook:hover {
  transform: rotateY(0deg);
  z-index: 100;
}

.textTransform {
  transform: rotateY(45deg);
}

.paperNote {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 9%;
  left: -10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: rotateY(70deg) rotateZ(70deg);
  background: no-repeat center/100% url('./assets/Paper.svg')
}

.rightClick {
  width: 60px;
  height: 60px;
  padding: 5px;
  font-size: 20px;
  background-color: var(--WHITE);
  border: 1px solid var(--LIGHT_BLUE);
  position: absolute !important;
  top: 20% !important;
  left: -20% !important;
  z-index: 150;
}

.leftClick {
  width: 60px;
  height: 60px;
  padding: 5px;
  font-size: 20px;
  background-color: var(--WHITE);
  border: 1px solid var(--LIGHT_BLUE);
  position: absolute !important;
  top: 20% !important;
  left: 70% !important;
}

.leftClick div, .rightClick div{
  border-bottom: 1px solid var(--LIGHT_BLUE);
  padding: 2px 0px 2px 0px
}

.paperNote:hover {
  transform: rotateY(0deg) rotateZ(0deg);
  z-index: 100;
}

.delete {
  width: 30px;
  height: 30px;
  background: no-repeat center/100% url('./assets/Trashcan.svg');
}

span {
  padding: 15px;
}

.chair {
  width: 200px;
  height: 250px;
  position: absolute;
  left: 68%;
  bottom: 27%;
  transform: rotateY(150deg) rotateZ(-38deg) rotateX(-5deg);
  background: no-repeat center/100% url('./assets/Chair.svg');

}

/* Note Page */
#notePage {
  display: grid;
  grid-template-areas:
  "blankPage notes";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background: no-repeat center/102% url('./assets/OpenNotebook.svg');
}

.blankPage {
  grid-area: blankPage;
  border: 1px solid black;
}

.notes {
  grid-area: notes;
  display: grid;
  grid-template-rows: 1fr 4.2fr;
  grid-template-columns: 1fr;

  grid-template-areas:
  'titleNotes'
  'contentNotes';

  border: 1px solid black;
}

.titleNotes {
  grid-area: titleNotes;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-between;
  font-size: 40px;
}

.contentNotes {
  grid-area: contentNotes;
  /* border: 1px solid black; */
}

#nameInput {
  width: 400px;
  align-items: flex-end;
  font-size: 40px;
  margin: 0;
  padding: 0;
  border: none;
}

#nameInput:focus {
  border: 1px solid var(--LIGHT_GREY);
}

#contentInput {
  font-family: 'Sedgwick Ave', cursive;
  display: flex;
  border: 1px solid var(--LIGHT_GREY);
  width: 82%;
  height: 95%;
  background: transparent;
  position: relative;
  left: 14%;
}

.contentDiv {
  font-family: 'Sedgwick Ave', cursive;
  position: relative;
  left: 14%;
  width: 82%;
  height: 95%;
}

/* Notebook Index */
#notebookIndex{
  display: grid;
  grid-template-areas:
  "backcover index";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background: no-repeat center/103% url('./assets/IndexNotebook.svg');
}

.backcover {
  grid-area: backcover;
}

.index {
  grid-area: index;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  left: 14%;
  width: 80%;
  height: 95%;
}

.index a {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 14px;
}
